*{
  box-sizing:border-box;
  
}
  html{
    scroll-behavior: smooth;}

html,body{
  margin: 0;
  padding: 0;
  
}
header{
  position:relative;}
img{
  max-width:100%;
  height:auto;
}
:root{margin: 0;
padding: 0;
}
/*review code*/
main{
    width:100vw;
    height:auto;
    background:#e5f3fd;
}
.center{justify-content:center;
  align-items: center;
  max-height:550px;
  border: 3px solid blue;
 
}
 /*#about_me{
    width:100%;
    height:auto;
    background:linear-gradient(to top right, #151924, #131720);
    margin-top:10px;
    padding:50px 10px 50px 10px;*/
}

footer{
  background-color: rgb(67, 75, 181);
    color: black;
height: 80px;
bottom: 0;
right: 0;
left: 0;
text-align: center;
  padding-top: 6px;
  width:100%;
}

nav{
  /*background-color: blueviolet;*/
display: flex;
    justify-content: flex-end;
    flex-flow:  row wrap;
    -webkit-align-content: space-between;
    align-content: space-between;
    -webkit-flex-basis:100px ;
    flex-basis:100px ;
    
    position: sticky;
    width:100%;
    height:70px;
    display:flex;
   backdrop-filter:blur(5px);
   transition: 4s;
   }

li{
  list-style-type:none;
    
    display: inline;
    align-content: stretch;
    border: 2px solid plum;
    font-family:algerian,-apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    background-color: rgb(33, 172, 63);
    border-radius:5px;
    font-weight:bold;
    
}



a{text-decoration: none
;}





/*added code*/

li:hover{box-shadow: -8px 10px 19px rgb(209, 100, 173);
background-color: plum;
font-style: normal;
position: relative;
bottom: 4px;
animation: none;
}
.hire_me{
 
 
}

.hire_me{
  margin-left:20px;
  text-align: center;
animation-name: movement;
animation-delay: 2s;
animation-duration: 4s;
animation-iteration-count: infinite;
transition: 1s;
}


@keyframes movement{
    
    from{transform:scale(1 ,1)}
    to{transform:scale(1.1, 1.1) ; 
      text-transform: bolder;
      color:blue;
      
    }
    
}
li{
    border:2px solid aqua;
    margin:2px 2px 2px 3px;
    padding:5px 11px 5px 1px;
    
    
list-style-type: none;
text-align: justify;


span{color:red;
    
    
    
    
    
    